<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-content padding>
    <ion-item>
      <ion-input type="text" [(ngModel)]="taskName" placeholder="Enter task"></ion-input>
      <div class="item-note" item-end>
        <button ion-button (click)="addTask()"><ion-icon name="add"></ion-icon></button>
      </div>
    </ion-item>
    <ion-item *ngFor="let todo of taskList; let i = index">
      {{todo}}
      <div class="item-note" item-end>
        <button ion-button clear (click)="updateTask(i)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteTask(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-content>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/add-task"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content> 
